@charset 'utf-8';

::selection, ::-moz-selection { background: #b6b5b4; color: #f9f9f9; }

html, body { width: 100%; }
body {
  background: url('res/bg.jpg') center/cover fixed;
  font: 400 12pt/1.75em Normal, sans-serif;
  letter-spacing: 0.05em;
  font-feature-settings: 'palt','hkna','ccmp','liga','kern','clig','calt';
  font-kerning: normal;
  font-variant: common-ligatures contextual;
  text-rendering: geometricPrecision;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

svg { will-change: transform; }

header {
  user-select: none;
  pointer-events: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vw;
  color: #f9f9f9;

  & .symbol {
    display: block;
    width: 6vw;
    margin: 4vw 0;
    fill: #f9f9f9;
  }

  & #title {
    display: block;
    height: 16vw;
    margin: 6vw 0;
    fill: #f9f9f9;
  }

  & small {
    display: block;
    font-family: Qreriqa, sans-serif;
    font-feature-settings: 'ss04','palt','ccmp','liga','kern','clig','calt';
    font-size: 4vw;
    font-weight: 200;
    line-height: 1.75em;
  }
}

h1, h2 {
  font-weight: 200;
  color: #4c4b48;
}

h1 {
  font-family: Qreriqa, sans-serif;
  font-size: 32pt;
  line-height: 1.3em;
}

h2 {
  font-size: 20pt;
  line-height: 1.5em;
}

p {
  display: block;
  margin: 20px 10px;
  text-indent: 1em;
  text-align: justify;
}

b, em { font-weight: 700; }
mark {
  color: inherit;
  background: rgba(128,178,192,0.175);
  border-radius: 4px;
}

i {
  margin-right: 0.1em;
  font-style: italic;
  font-weight: 200;
  color: #4c4b48;
  line-height: 1em;
}

q {
  quotes: '「' '」' '『' '』';
  &::before,
  &::after { font-weight: 200; }
  &::before { content: open-quote; }
  &::after { content: close-quote; }
}

sup {
  letter-spacing: 0;
  font-size: 70%;
  font-weight: 700;
  line-height: 1em;
  vertical-align: baseline;
  position: relative;
  top: -0.5em;

  & a.aside {
    &::before { content: '\2060['; }
    &::after { content: ']'; }
  }
}

abbr { text-decoration: none; }


ruby {
  text-indent: 0;
  ruby-align: space-around;
  ruby-position: over;

  & rt {
    font-weight: 700;
    margin: -0.75em 0;
    letter-spacing: 0;
    font-feature-settings: 'palt','ruby','hkna','ccmp','liga','kern','clig','calt';
    font-variant-east-asian: ruby;
  }

  & > rt {
    font-size: 50%;
    height: 1em;
  }

  & rtc {
    ruby-position: under;
    &:not(.qr) { font-size: 55%; }
    &.qr { font-size: 100%; }
    &.qr > rt {
      font-feature-settings: 'ss04','palt','ccmp','liga','kern','clig','calt';
      font-weight: 400;
      margin-top: -0.3em;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ruby {
    & rb {
      display: block;
      line-height: 0.75em;
      text-align: justify;
      text-align-last: center;
    }
    & rtc {
      &:not(.qr) {
        height: 1em;
        line-height: 1em;
        display: block;
        margin-top: -0.7em;
      }
      &:not(.qr) > rt { vertical-align: -1.1em; }
      &.qr > rt { vertical-align: 0.2em; }
    }
    & .terms dl dt ruby {
      vertical-align: -0.15em;
      & > rtc.qr {
        display: block;
        margin: -1em 0 0.4em 0;
        position: relative;
        top: 1.25em;
      }
    }
  }
}


.qr {
  letter-spacing: 0;
  line-height: 1em;
  font-family: Qreriqa, sans-serif;
  font-feature-settings: 'ss04','palt','ccmp','liga','kern','clig','calt';
}
p > span.qr {
  margin: 0 0.25em;
  font-size: 110%;
}

.ipa {
  letter-spacing: 0;
  font-family: Phonetic, serif;
  font-size: 120%;
  font-weight: 400;
  margin: 0 0.1em;
  line-height: 1em;
  font-feature-settings: 'liga', 'calt', 'kern', 'ccmp';
  & .punct {
    font-size: 60%;
    vertical-align: 1px;
    margin: 0 0.25em;
    opacity: 0.7;
  }
  & .punct_nobr { margin: 0 -1px; }
  & .punct_slim {
    font-size: 60%;
    vertical-align: 1px;
    margin: 0 -0.25em;
    opacity: 0.7;
  }
  & .punct_segm {
    margin: 0;
    padding: 0 0.05em;
    opacity: 0.7;
    &::after { content: '\200b'; }
  }
  & .punct_equal {
    font-size: 60%;
    vertical-align: 1px;
    opacity: 0.7;
  }
}


.trans {
  font-family: Translation, Normal, sans-serif;
  font-style: italic;
  quotes: '〝' '〟';
  &::before, &::after {
    user-select: none;
    pointer-events: none;
    font-family: Normal, sans-serif;
    font-weight: 400;
    font-size: 120%;
    margin: 0 0.25em;
    vertical-align: baseline;
    position: relative;
    top: 0.125em;
    left: -0.05em;
    opacity: 0.5;
  }
  &::before { content: open-quote; }
  &::after { content: close-quote; }
  & .symbols { vertical-align: -0.1em; }
}


main {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 80px auto;
  width: 100%;
  background: #f9f9f9;
  color: #666460;
}

article {
  width: 100%;
  display: block;
  padding-top: 40px;
  margin: -40px 0 40px 0;
}

section {
  width: 100%;
  display: block;
  padding-top: 40px;
  margin: -40px 0 40px 0;
}
section:first-of-type { margin: -20px 0 40px 0; }


.sectional {
  margin: 20px 0;
  & dl {
    padding: 30px 0 0 0;
    margin: -30px 0 30px 0;
    &:first-of-type { margin: -20px 0 30px 0; }
  }
  & dt {
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.5em;
    color: #666460;
    &::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      vertical-align: -4px;
      background: radial-gradient(circle at center, transparent 2px, #666460 3px, transparent 4px);
      opacity: 0.8;
    }
  }
  & dd {
    margin: 0 20px;
  }
}


.terms {
  display: table;
  margin: 20px 25px;
  & dl {
    display: table-row;
    & dt {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      font-weight: 700;
      white-space: nowrap;
    }
    & dd {
      display: table-cell;
      position: relative;
      padding-left: 4em;
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 1em;
        height: 1em;
        top: calc(50% - 0.45em);
        left: 1.5em;
        background: radial-gradient(circle at center, #666460 4px, transparent 5px);
        opacity: 0.6;
      }
      & p { margin: 12px 0; }
    }
  }
}


.tables table { margin: 25px auto; }
#phones {
  width: calc(100% - 40px);
  & thead th {
    font-weight: 700;
    font-size: 90%;
    text-align: center;
    background: #f6f6f6;
    white-space: nowrap;
  }
  & tbody th {
    font-weight: 400;
    &:first-child { font-size: 125%; }
  }
  & th, & td { padding: 0.25em 1em; }
  & th:first-child { padding: 0.25em 0.5em; }
  & tr:nth-child(2n) { background: rgba(102,100,96,0.05); }
  & td:nth-child(2) .punct { margin: 0; }
  & td:last-child .qr { margin: 0 0.25em; }
  & td:nth-child(-n+2) { text-align: center; }
}

section>figure {
  padding: 30px 30px 10px 30px;
  & figcaption {
    text-align: center;
    font-weight: 200;
    margin: 10px 0;
  }
}

#image-0 {
  display: block;
  width: calc(100% - 60px);
  height: 240px;
  margin: 30px auto;
  background:
    linear-gradient(-90deg, transparent, rgba(202,128,103,0.2)),
    linear-gradient(90deg, transparent, rgba(105,105,56,0.2)),
    linear-gradient(120deg, transparent, rgba(105,56,105,0.1)),
    linear-gradient(-35deg, transparent, rgba(103,202,128,0.2)),
    linear-gradient(-160deg, transparent, rgba(128,103,202,0.2)),
    linear-gradient(to bottom, rgba(249,249,249,0.5), rgba(249,249,249,0.5)),
    url("res/image-0.jpg") center/cover no-repeat border-box;
  border: solid 1px rgba(249,249,249,0.25);
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow:
    1px 1px 4px 0 rgba(102,100,96,0.05) inset,
    0 0 2px -1px rgba(102,100,96,0.25);
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:
      repeating-linear-gradient(-72deg, transparent 0px, rgba(249,249,249,0.1) 1px, transparent 2px);
  }
}

.aas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 66%;
  margin: 30px auto;
  background: rgba(102,100,96,0.01);
  border: solid 1px rgba(249,249,249,0.25);
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow:
    1px 1px 4px 0 rgba(102,100,96,0.05) inset,
    0 0 2px -1px rgba(102,100,96,1);
  & .aa {
    padding: 20px;
    display: block;
    flex: 0 0 auto;
    text-align: left;
    letter-spacing: 0;
    line-height: 1.25em;
    font-family: Translation, monospace;
    font-feature-settings: 'hkna';
  }
}

section > ul {
  display: block;
  margin: 30px 40px 30px calc(1em + 40px);
  text-align: justify;
  list-style: disc outside;
  & li {
    color: rgba(102,100,96,0.6);
    & p {
      color: #666460;
      margin-left: 0;
      margin-right: 0;
      text-indent: 0;
    }
    & .li {
      color: #666460;
    }
  }
}


aside {
  margin: 24px 20px 24px calc(20px + 1.5em);
  font-size: 10pt;
  & ol {
    list-style: decimal outside;
  }
  & p {
    margin: 12px 14px;
    text-indent: 0;
    line-height: 1.8em;
    position: relative;
    & a.refers {
      position: absolute;
      top: 0;
      left: -0.75em;
      width: 1em;
      height: 1em;
    }
  }
}


.utters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  margin: 20px 40px;
  text-align: center;
  & .utter {
    display: block;
    flex: 1 1 0;
    padding: 10px 20px;
    & .gloss {
      position: relative;
      margin: 0 auto;
      & td {
        text-align: left;
        white-space: nowrap;
      }
      & .qr {
        font-size: 220%;
        font-weight: 200;
        line-height: 1.5em;
      }
      & .ph {
        height: 1.75em;
        line-height: 1.75em;
        & :first-child, & :last-child {
          text-align: center;
          width: 1.5em;
        }
      }
      & .sm {
        line-height: 1.5em;
        & .ipa { margin: 0; }
      }
      &::after {
        content: '';
        display: block;
        height: 1px;
        width: 5em;
        background: linear-gradient(to right, transparent, #666460, transparent);
        position: absolute;
        bottom: -0.75em;
        left: calc(50% - 2.5em);
        opacity: 0.25;
      }
    }
    & .trans {
      display: block;
      font-size: 120%;
      text-align: center;
      margin: 20px 0;
      line-height: 1.75em;
    }
  }
}



hr {
  display: block;
  border: none;
  width: 80%;
  padding-top: 40px;
  margin: -40px auto 40px auto;
  text-align: center;
  &::before {
    user-select: none;
    pointer-events: none;
    content: '⌘';
    display: block;
    position: relative;
    top: -1px;
    width: 80px;
    height: 80px;
    margin: auto;
    font-size: 30pt;
    font-weight: 200;
    color: #bbbbbb;
    line-height: 80px;
    transform: rotate(45deg);
  }
}


.socket {
  display: block;
  margin: 40px -51px 40px 20px;
  padding: 20px 0px 20px 20px;
  background: url('res/bg.jpg') center/cover fixed;
  border-radius: 10px 0 0 10px;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background:
      radial-gradient(circle at 0 0, #f9f9f9 5px, transparent 6px),
      url('res/bg.jpg') center/cover fixed;
    position: absolute;
    bottom: 100%;
    right: 1px;
  }
  &::after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background:
      radial-gradient(circle at 0 100%, #f9f9f9 5px, transparent 6px),
      url('res/bg.jpg') center/cover fixed;
    position: absolute;
    top: 100%;
    right: 1px;
  }
  & .card {
    display: table;
    width: calc(100% + 30px);
    background: transparent;
    border-radius: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    &.glass {
      &::before {
        display: block;
        content: '';
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url('res/bg-blurred.jpg') center/cover fixed;
        border-radius: 5px;
        position: absolute;
      }
      & blockquote {
        display: table-cell;
        padding: 30px;
        position: relative;
        z-index: 100;
        background:
          repeating-linear-gradient(-72deg, transparent 0px, rgba(249,249,249,0.05) 1px, rgba(249,249,249,0.05) 2px, transparent 3px);
        border-radius: 5px 0 0 5px;
        border: solid 1px rgba(249,249,249,0.05);
        border-right: none;
        text-shadow: rgba(249,249,249,0.6) 0 0 20px;
        color: #f9f9f9;
      }
    }
    & figcaption {
      display: table-cell;
      width: 40px;
      height: 100%;
      background: #f9f9f9;
      vertical-align: middle;
      text-align: center;
      border-radius: 0 5px 5px 0;
      box-shadow: 1px 0 5px 0 #f9f9f9;
      position: relative;
      z-index: 1000;
    }
    & figcaption span {
      user-select: none;
      pointer-events: none;
      text-indent: -0.5em;
      display: inline-block;
      width: 1em;
      margin-left: 0.1em;
      transform: rotate(90deg);
      font-family: Qreriqa, sans-serif;
      font-size: 120%;
      line-height: 0;
      vertical-align: middle;
      color: #999999;
    }
    & blockquote .utter {
      display: block;
      margin: 20px 0;
      & .qr {
        display: block;
        font-size: 32pt;
        font-weight: 200;
        line-height: 1.5em;
        text-align: center;
      }
      & .trans {
        display: block;
        font-size: 95%;
        line-height: 3em;
        opacity: 0.9;
        text-align: center;
      }
    }
  }
}




@media print, screen and (max-width: 864px) {
  body {
    background: rgba(64,89,96,1);
    font-size: 11pt;
  }

  main {
    width: 100%;
    padding: 40px 0;
    overflow: hidden;
  }

  #toc {
    display: none;
  }

  #content {
    width: 100%;
  }

  h1 { margin: 20px; }
  h2 { margin: 25px; }
  .sectional dt { margin: 20px; }

  hr {
    background: transparent;
    height: 40px;
    &::before { top: -20px; }
  }

  .terms dl dd {
    padding-left: 1.5em;
    &::before {
      display: none;
    }
  }

  .utters {
    display: block;
    margin: 20px 0;
    width: 100vw;
    overflow-x: auto;
    white-space: nowrap;
    & .utter { padding: 10px 30px; }
    & table {
      display: block;
      margin: 10px;
      width: calc(100vw - 20px);
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  .socket {
    background: rgba(64,89,96,1);

    &, & .card {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      border-radius: unset;
      width: 100%;
    }
    &::before,
    &::after { display: none; }
    & .card {
      & figcaption { display: none; }
      &.glass {
        &::before {
          border-radius: unset;
          background: rgba(64,89,96,1);
        }
        & blockquote {
          text-indent: 0;
          border-left: none;
          border-radius: unset;
          padding: 0;
          background: rgba(249,249,249,0.1);
          & .trans {
            &::before, &::after {
              left: -0.28em;
            }
          }
        }
      }
    }
  }

  #console {
    display: none;
  }
}



@media print, screen and (min-width: 865px) {
  main {
    width: 86%;
    border-radius: 5px;
  }

  #toc {
    position: sticky;
    top: 0;
    display: block;
  }

  nav {
    position: relative;
    display: block;
    padding: 40px;
    text-align: right;
    line-height: 1.6em;
    height: calc(100vh - 80px);
    letter-spacing: 0;
    &::after {
      content: '';
      display: block;
      width: 2px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background:
        linear-gradient(to bottom, transparent 40px, rgba(102,100,96,0.25) 60px, rgba(102,100,96,0.25) calc(100% - 60px), transparent calc(100% - 40px));
    }
    & ul {
      width: 120px;
      list-style-type: none;
      position: relative;
    }
    & a {
      display: block;
      width: 100%;
    }
    & > ul > li > a {
      font-family: Qreriqa, sans-serif;
      font-size: 125%;
      font-weight: 400;
      padding: 0.7em 0 0.2em 0;
      opacity: 0.5;
      position: relative;
    }
    & > ul > li:first-of-type > a:first-of-type {
      margin-top: 0.5em;
      padding-top: 0;
    }
    & > ul > li > ul > li {
      display: block;
      height: 1.8em;
      line-height: 1.8em;
      font-size: 90%;
      position: relative;
    }
  }

  #indicator-area {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 11px;
    width: 20px;
  }
  #indicator {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background: radial-gradient(circle at center, transparent 3px, #358593 4px, transparent 5px);
    visibility: hidden;
  }

  @keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes blink {
    0% { opacity: 0; }
    40% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 1; }
  }

  #console {
    display: block;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 60px;
    bottom: 60px;
    background:
      repeating-linear-gradient(-72deg, transparent 0px, rgba(249,249,249,0.05) 1px, rgba(249,249,249,0.05) 2px, transparent 3px),
      rgba(0,0,0,0.85);
    z-index: 10000;
    color: #f9f9f9;
    border-top: solid 1px rgba(249,249,249,0.1);
    border-bottom: solid 1px rgba(249,249,249,0.1);
    box-shadow: 0 0 2px -1px #000000;
    text-shadow: rgba(249,249,249,0.6) 0 0 20px;
    visibility: hidden;
    opacity: 0;
    padding: 40px 0;
  }
  #backfield {
    position: relative;
    width: 100%;
    height: 1.75em;
    font-size: 300%;
    font-family: Qreriqa, Normal, sans-serif;
    font-feature-settings: 'ss04', 'palt','hkna','ccmp','liga','kern','clig','calt';
    font-weight: 200;
    line-height: 1.75em;
    text-align: center;
  }
  #backfield > span {
    letter-spacing: 0;
    position: relative;
    height: 1.75em;
    display: inline-block;
    white-space: pre;
  }
  #field {
    letter-spacing: 0;
    width: 100%;
    height: 1.75em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    opacity: 0;
  }
  #caret {
    display: block;
    position: absolute;
    width: 2px;
    height: 1em;
    border-radius: 1px;
    background: #f9f9f9;
    left: 0;
    top: 0.5em;
    box-shadow:
      0 0 20px 0 rgba(249,249,249,0.6),
      0 0 1px 0 rgba(249,249,249,0.4);
    will-change: opacity;
  }
  #caret.blinking { animation: blink 0.6s linear 0.6s alternate-reverse infinite; }
  #formatted {
    text-align: center;
    font-size: 140%;
  }
  #formatted > .qr { margin: 0 0.25em; }

  #content {
    display: block;
    padding: 50px;
  }
}


nav .symbol {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 25px 0;
  fill: #666469;
  opacity: 0.8;
}


a {
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  pointer-events: auto;
  &.dagger {
    font-family: Phonetic, serif;
    font-size: 0.6em;
    vertical-align: text-top;
    margin: 0 0.2em;
    line-height: 1.25em;
  }
  &:link, &:visited { color: #358593; }
  &:hover { color: #28A2C0; }
  &[href^='http']:hover { color: #b28000; }
  &:active, &[href^='http']:active { color: #b02884; }
}


footer {
  margin: 4px 2px;
  font-size: 80%;
  line-height: 1.5em;
  opacity: 0.65;
  & p {
    margin: 0;
    text-align: right;
    &#badges { margin: 0.05em 0; }
    & .badge {
      vertical-align: -0.35em;
      & img { margin-bottom: -0.35em; }
    }
  }
}

[data-balloon]::after {
  font-family: Normal, sans-serif !important;
  font-size: 80% !important;
  height: 1.5em !important;
  padding: 0.5em 1em !important;
}
.ipa[data-balloon-pos="right"]::before,
.ipa[data-balloon-pos="right"]::after { top: 58% !important; }