@font-face
{
  font-family: Dosis;
  font-style: normal;
  font-weight: 200;
  src:
    local('Dosis ExtraLight'),
    url('qr/fonts/Dosis-ExtraLight.min.woff2');
}

@font-face
{
  font-family: Phonetic;
  font-style: normal;
  font-weight: 400;
  src:
    local('Charis SIL'),
    url('qr/fonts/CharisSIL-R.woff2');
}