@charset 'utf-8';


body {
  font-family: sans-serif;
  background:
	linear-gradient(-90deg, transparent, rgba(249,105,56,0.2)),
	linear-gradient(90deg, transparent, rgba(105,105,56,0.2)),
	linear-gradient(120deg, transparent, rgba(105,56,105,0.1)),
	linear-gradient(-35deg, transparent, rgba(56,249,105,0.2)),
	linear-gradient(-160deg, transparent, rgba(105,56,249,0.2)),
	url("qr/res/image-0.jpg") center center / cover;
  background-repeat:	no-repeat;
  background-attachment:fixed;
}

main {
  text-align: center;
}

header ::selection { background: transparent; color: transparent; }
header ::-moz-selection { background: transparent; color: transparent; }

header {
  width:		100%;
  color:		#fff;
  font-family:	Dosis, sans-serif;
  font-weight:	200;
}

header #title {
  margin:		80px 0 10px 0;
  text-align:	center;
}

header div strong {
  text-shadow:	0px 0px 20px rgba(250,255,249,0.5);
  font-weight:	200;
  font-size:	128pt;
}

*[title] {
  text-decoration: underline dotted;
}

main {
  display:		block;
  width:		100%;
  font-size:	12pt;
}

article {
  padding:		50px 0;
  font-size:	12pt;
  line-height:	1.66667;
}
b { font-weight: bold; }
i { font-style: oblique; }

section {
  margin:			50px;
  padding:			40px 0;
  background:
	linear-gradient(0deg,
					transparent,
					transparent 20px,
					rgba(249,249,249,0.4) 20px,
					rgba(249,249,249,0.4) calc(100% - 20px),
					transparent calc(100% - 20px),
					transparent),
	linear-gradient(90deg,
					transparent,
					transparent 20px,
					rgba(249,249,249,0.4) 20px,
					rgba(249,249,249,0.4) calc(100% - 20px),
					transparent calc(100% - 20px),
					transparent),
	rgba(249,249,249,0.2);
  color:			#666460;
  overflow:			hidden;
}

p {
  display:		block;
  margin:		40px 80px;
  text-align:	justify;
  text-justify:	distribute;
}
.ext {
  font-family: Phonetic, sans-serif;
}

#bitcoin-address-qr-code {
  width: 67px;
  height: auto;
  mix-blend-mode: multiply;
  vertical-align: middle;
  margin: 0 20px;
}

a {
  text-decoration: none;
  transition: 0.2s;
  outline: none;
  pointer-events: auto;
}
a:link, a:visited { color: #358593; }
a:hover { color: #28A2C0; }
a[href^='http']:hover { color: #b28000; }
a:active, a[href^='http']:active { color: #b02884; }

ul {
  margin: 20px 0;
}
ul span::before,
ul span::after {
  content: '-';
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 0.25em;
}

article#about ul {
  text-align: left;
  margin: -20px calc(80px + 2em) 20px calc(80px + 2em);
}